@model ICollection<EFTest.Models.Student>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">
        @Model.Count estudantes.
    </h2>
    
    <table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Data matrícula</th>
        </tr>
    </thead>
    
    <tbody>
        @foreach(var s in Model)
            {
                <tr>
                    <td>@s.ID</td>
                    <td>@s.FirstMidName</td>
                    <td>@s.LastName</td>
                    <td>@s.EnrollmentDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
</table>
</div>
